@import "./scss/variables";

body {
  margin: 0;
}

.header {
  padding: 1em;
  background-color: $primary-background-color;
  color: $primary-color;
}

.content {
  padding: 1em;

}

.list {

  .list-item {
    background-color: aliceblue;
    margin: 1em 0;
    padding: 1em;
  }
}

.form {
  .field {
    margin-left: 1em;
  }
}

.contact-form {
  padding: 1em;
  background-color: $secondary-background-color;
  color: $secondary-color;

  @media only screen and (max-width: 800px) {
    .form span {
      display: block;
      margin-top: 1em;

      &.field {
        margin-left: 0;
      }
    }
  }

}

.pointer {
  cursor: pointer;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .row {
    margin: 1em;
  }

  .right {
    margin-left: auto
  }
}

input {
  background-color: $primary-background-color;
  color: $primary-color;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  padding: 0.5em;
}

.button {
  background-color: $secondary-background-color;
  border: $primary-background-color;
  color: $secondary-color;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  //margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  &.delete-button {
    margin: 1em;
    background-color: $danger-background-color;
    color: $danger-color;
  }

  &.cancel-button {
    margin: 1em;
  }

  &.button-primary {
    background-color: $primary-background-color;
    color: $primary-color;
  }
}


.mode-edit {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.submit-button-wrapper {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.filters {
  a {
    margin-left: 1em;
    text-decoration: none;

    &.selected {
      text-decoration: underline;
    }
  }

}
